<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:s="http://jboss.com/products/seam/taglib"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:a="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich"
    template="layout/template.xhtml">

<ui:define name="body">

    <h:form id="users" styleClass="edit">

        <rich:panel>
            <f:facet name="header">#{usersHome.managed ? 'Edit' : 'Add'} Users</f:facet>


            <s:decorate id="idField" template="layout/edit.xhtml">
                <ui:define name="label">Id</ui:define>
                <h:inputText id="id"
                       required="true"
                       disabled="#{usersHome.managed}"
                          value="#{usersHome.instance.id}">
                    <a:support event="onblur" reRender="idField" bypassUpdates="true" ajaxSingle="true"/>
                </h:inputText>
            </s:decorate>


            <s:decorate id="nameField" template="layout/edit.xhtml">
                <ui:define name="label">Name</ui:define>
                <h:inputText id="name"
                          value="#{usersHome.instance.name}">
                    <a:support event="onblur" reRender="nameField" bypassUpdates="true" ajaxSingle="true"/>
                </h:inputText>
            </s:decorate>

            <div style="clear:both">
                <span class="required">*</span>
                required fields
            </div>

        </rich:panel>

        <div class="actionButtons">

            <h:commandButton id="save"
                          value="Save"
                         action="#{usersHome.persist}"
                       disabled="#{!usersHome.wired}"
                       rendered="#{!usersHome.managed}"/>

            <h:commandButton id="update"
                          value="Save"
                         action="#{usersHome.update}"
                       rendered="#{usersHome.managed}"/>

            <h:commandButton id="delete"
                          value="Delete"
                         action="#{usersHome.remove}"
                      immediate="true"
                       rendered="#{usersHome.managed}"/>

            <s:button id="cancelEdit"
                   value="Cancel"
             propagation="end"
                    view="/Users.xhtml"
                rendered="#{usersHome.managed}"/>

            <s:button id="cancelAdd"
                   value="Cancel"
             propagation="end"
                    view="/#{empty usersFrom ? 'UsersList' : usersFrom}.xhtml"
                rendered="#{!usersHome.managed}"/>

        </div>
    </h:form>

</ui:define>

</ui:composition>
