<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:s="http://jboss.com/products/seam/taglib"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    template="layout/template.xhtml">

<ui:define name="body">

    <h:form id="usersSearch" styleClass="edit">

        <rich:simpleTogglePanel label="Users Search Filter" switchType="ajax">

            <s:decorate template="layout/display.xhtml">
                <ui:define name="label">Match</ui:define>
                <h:selectOneRadio id="logic" value="#{usersList.restrictionLogicOperator}" styleClass="radio">
                    <f:selectItem itemLabel="All" itemValue="and"/>
                    <f:selectItem itemLabel="Any" itemValue="or"/>
                </h:selectOneRadio>
            </s:decorate>

        </rich:simpleTogglePanel>

        <div class="actionButtons">
            <h:commandButton id="search" value="Search" action="/UsersList.xhtml"/>
            <s:button id="reset" value="Reset" includePageParams="false"/>
        </div>

    </h:form>

    <rich:panel>
        <f:facet name="header">Users Search Results (#{empty usersList.resultList ? 0 : (usersList.paginated ? usersList.resultCount : usersList.resultList.size)})</f:facet>
    <div class="results" id="usersList">

    <h:outputText value="The users search returned no results."
               rendered="#{empty usersList.resultList}"/>

    <rich:dataTable id="usersList"
                var="_users"
              value="#{usersList.resultList}"
           rendered="#{not empty usersList.resultList}">
        <h:column>
            <f:facet name="header">
                <ui:include src="layout/sort.xhtml">
                    <ui:param name="entityList" value="#{usersList}"/>
                    <ui:param name="propertyLabel" value="Id"/>
                    <ui:param name="propertyPath" value="users.id"/>
                </ui:include>
            </f:facet>
            <h:outputText value="#{_users.id}"/>
        </h:column>
        <h:column>
            <f:facet name="header">
                <ui:include src="layout/sort.xhtml">
                    <ui:param name="entityList" value="#{usersList}"/>
                    <ui:param name="propertyLabel" value="Name"/>
                    <ui:param name="propertyPath" value="users.name"/>
                </ui:include>
            </f:facet>
            <h:outputText value="#{_users.name}"/>
        </h:column>
        <rich:column styleClass="action">
            <f:facet name="header">Action</f:facet>
            <s:link view="/#{empty from ? 'Users' : from}.xhtml"
                   value="#{empty from ? 'View' : 'Select'}"
             propagation="#{empty from ? 'none' : 'default'}"
                      id="usersViewId">
                <f:param name="usersId"
                        value="#{_users.id}"/>
            </s:link>
            #{' '}
            <s:link view="/UsersEdit.xhtml"
                   value="Edit"
             propagation="none"
                      id="usersEdit"
                rendered="#{empty from}">
                <f:param name="usersId"
                        value="#{_users.id}"/>
            </s:link>
        </rich:column>
    </rich:dataTable>

    </div>
    </rich:panel>

    <div class="tableControl">

        <s:link view="/UsersList.xhtml"
            rendered="#{usersList.previousExists}"
               value="#{messages.left}#{messages.left} First Page"
                  id="firstPage">
          <f:param name="firstResult" value="0"/>
        </s:link>

        <s:link view="/UsersList.xhtml"
            rendered="#{usersList.previousExists}"
               value="#{messages.left} Previous Page"
                  id="previousPage">
            <f:param name="firstResult"
                    value="#{usersList.previousFirstResult}"/>
        </s:link>

        <s:link view="/UsersList.xhtml"
            rendered="#{usersList.nextExists}"
               value="Next Page #{messages.right}"
                  id="nextPage">
            <f:param name="firstResult"
                    value="#{usersList.nextFirstResult}"/>
        </s:link>

        <s:link view="/UsersList.xhtml"
            rendered="#{usersList.nextExists}"
               value="Last Page #{messages.right}#{messages.right}"
                  id="lastPage">
            <f:param name="firstResult"
                    value="#{usersList.lastFirstResult}"/>
        </s:link>

    </div>

    <s:div styleClass="actionButtons" rendered="#{empty from}">
        <s:button view="/UsersEdit.xhtml"
                    id="create"
           propagation="none"
                 value="Create users">
            <f:param name="usersId"/>
        </s:button>
    </s:div>

</ui:define>

</ui:composition>
